<div class="login-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 align-self-center text-center">
          <div class="login-form mx-auto">
            <div class="logo-text mb-3">
              <img src="../../assets/img/logo-merce.png" alt="logo" class="img-fluid" routerLink="/login" />
            </div>
  
            <p class="mt-5 mb-5 fs-20 primary-dark-text">
                Please enter your registered email to reset the password
            </p>
  
            <form [formGroup]="forgotPass">
              <div class="input-user mb-3">
                <input type="email" placeholder="Email" class="form-control fs-15 fw-bold br-10 input-border"
                  formControlName="email" name="email" />
                <div class="d-flex">
                  <div *ngIf="
                      submitted &&
                        forgotPass.controls['email'].invalid
                      " class="text-danger">
                    <div *ngIf="forgotPass.controls['email'].errors?.['required']" class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1">
                        Email is required
                      </p>
                    </div>
  
                    <div *ngIf="forgotPass.controls['email'].errors?.['email']" class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1">
                        email is invalid
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-login d-grid mt-5">
                <button class="btn btn-primary" routerLink="/set-password" type="button">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 px-0 d-none d-md-block">
          <div class="bg-img">
            <img src="../../assets/img/merce.jpg" alt="" class="img-fluid h-100vh w-100 of-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>