<div class="login-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 align-self-center text-center">
          <div class="login-form mx-auto">
            <div class="logo-text mb-3">
              <img src="../../assets/img/logo-merce.png" alt="logo" class="img-fluid" routerLink="/login" />
            </div>
  
            <p class="mt-5 mb-5 fs-20 primary-dark-text">
                Check your email to get the reset code
            </p>
  
            <form [formGroup]="resetPassForm">
              <div class="input-user mb-3">
                <input type="password" placeholder="New password" class="form-control fs-15 fw-bold br-10 input-border"
                  formControlName="new_password" name="new_password" />
                <div class="d-flex">
                  <div *ngIf="
                    submitted &&
                    resetPassForm.controls['new_password'].invalid
                    " class="text-danger">
                    <div *ngIf="resetPassForm.controls['new_password'].errors?.['required']"
                      class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1">
                        Password is required
                      </p>
                    </div>
                    <div *ngIf="resetPassForm.controls['new_password'].errors?.['pattern']"
                      class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1 text-start">
                        Password not valid
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-user mb-3">
                <input type="password" placeholder="Confirm Password"
                  class="form-control fs-15 fw-bold br-10 input-border" formControlName="confirm_password"
                  name="confirm_password" />
                <div class="d-flex">
                  <div *ngIf="
                    submitted &&
                    resetPassForm.controls['confirm_password'].invalid
                    " class="text-danger">
                    <div *ngIf="resetPassForm.controls['confirm_password'].errors?.['required']"
                      class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1">
                        Password is required
                      </p>
                    </div>
                    <div *ngIf="resetPassForm.controls['confirm_password'].errors?.['pattern']"
                      class="d-flex align-items-baseline">
                      <p class="fs-13 fw-400 ms-1 mt-1 text-start">
                        Password not valid
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-login d-grid mt-5">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 px-0 d-none d-md-block">
          <div class="bg-img">
            <img src="../../assets/img/merce.jpg" alt="" class="img-fluid h-100vh w-100 of-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>